<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>www6c</id>
            <repositories>
                <repository>
                    <id>reposilite-repository-releases</id>
                    <name>Reposilite Repository</name>
                    <url>http://www6c.virtualdoxx.com:8082/releases</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <mirrors>
        <mirror>
            <id>internal-repository</id>
            <name>Maven Repository Manager running on https://repo1.maven.org/maven2</name>
            <url>https://repo1.maven.org/maven2</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>other-mirror</id>
            <mirrorOf>central</mirrorOf>
            <name>www6c Mirror Repository</name>
            <url>http://www6c.virtualdoxx.com:8082/releases</url>
        </mirror>
    </mirrors>
</settings>

<!--
mvn clean source:jar deploy -DuniqueVersion=false -Dmaven.source.useDefaultManifestFile=true -Dmaven.source.includePom=true -Dmaven.install.skip=true -DdeplyAtEnd=true -DaltDeploymentRepository='github::default::https://maven.pkg.github.com/javax4u/vdoxx'
-->